*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #4E6E81;
}
#header{
    text-align: center;
    padding: 50px;

}
#header-text{
    font-size: 75px;
    color: rgb(249, 219, 187);
    background: linear-gradient(45deg,#2e38407c,#ff03034b);
    width: fit-content;
    margin: auto;
    padding: 10px 20px 20px 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#slides{
    display: flex;
    width: 100%;
    white-space: nowrap;
}
#slider-content{
    position: relative;
}
#slider{
    margin: auto;
    margin-bottom: 100px;
    padding: 0;
    width: 80%;
    overflow: hidden;
}
.slide-image{
    height: 600px;
    width: 100%;
    object-fit: cover;
}
#slide1,#slide2,#slide3,#slide4{
    max-height: 600px;
    min-width: 100%;
}
#btn-onward{
    position: absolute;
    right: 10%;
    top: 46%;
    transform: translate(25px,0);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #F9DBBB;
}
#btn-backward{
    position: absolute;
    left: 10%;
    top: 46%;
    transform: translate(-25px,0);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #F9DBBB;
}
#btn-onward:active,#btn-backward:active{
    #arrow-right{
        font-size: x-large;
    }
    #arrow-left{
        font-size: x-large;
    }
}