#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 32px !important;
    width: 100%;
    height: 60px;
}
ul{
    list-style: none;
}
#directions{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    font-weight: 300;
    gap: 5rem;
}
#socials{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
#logo{
    padding: 0;
    margin: 0;
    width: fit-content;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo a{
    color: black;
    text-decoration: none;
}
#direction-main a{
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 10px 0 10px;
}
#direction-main a:hover{
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.263),rgba(157, 157, 157, 0.182),rgba(255, 255, 255, 0.263));
    color: rgb(35, 173, 173);
}
.direction a{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 5px;
}
.direction a:hover{
    color: rgb(35, 173, 173);
    background: linear-gradient(90deg,rgba(157, 157, 157, 0.182),white);
}
.direction{
    margin-bottom: 15px;
}
#navbarIcon{
    display: none;
}
#navbarIconPic{
    border: 0px;
}
#navbarIconPic:active{
    color: black !important;
}
#dropdownMenu{
    background-color: rgba(255,255, 255, 0.7) !important;
    position: absolute;
    width: 100%;
}
#dropdownMenu-directions li a{
    min-width: 500px !important;
}
#dropdownMenu-socials{
    padding: 0;
    margin: 0;
    display: flex;
    padding: 20px 0 0 32px;
    gap: 15px;
}
@media(min-width: 992px){
    #dropdownMenu{
        display: none !important;
    }
}
@media(max-width: 992px){
    #dropdownMenu{
        display: none;
    }
    #directions,#socials{
        display: none;
    }
    #navBar{
        margin-bottom: 0px !important;
    }
    #navbarIcon{
        display: block;
        display: flex;
        justify-content: flex-end;
    }
    #logoBox{
        padding-left: 32px;
        min-width: 10px;
    }
}